<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeChatEye.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>177019561C86B95400ED12CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1770196C1C86B95400ED12CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>177019771C86B95400ED12CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
